*{
    padding: 0%;
    margin: 0%;
}
header{
    height: 70px;
   background-color: aquamarine;
    
}
.logobox h4{
   font-size: 18px; 
   color: rgb(42, 42, 172);

}
.logobox{
  margin-top: 10px;
}

.logobox a{
    text-decoration: none;
}
.nav-link{
    color: black;
}




.top-btn {
  padding: 5px 20px;
  margin-top: 10px;
background-color: darkslategrey;
  border-radius: 10px;
  border: none;
  color: antiquewhite;
}

.topForm {
  background-color: aqua;
 padding: 30px 10px;
  display: none;
  height: 90%;
  width: 50%;

}

.topForm.show {
  display: block;
}
/* -------------------------------------------------------------------------- */
body{
  overflow: hidden;
}
.show-btn{
  padding: 10px 20px;
  background-color: aqua;
  border: none;
  border-radius: 10px;
  margin: 20px;
}
.formBox{
  width: 300px;
  height: 100%;
  position: relative;
  top: 10;
  /* right: -1900px; */
  left: -300px;
  background-color: aquamarine;
  box-sizing: border-box;
  padding: 20px;
  transition: .8s ease-in-out;


}
.formBox.active{
left: 0;
}
.closs-btn{
  font-size: 40px;
  color: #c73737;
  cursor: pointer;
  position: absolute;
  top: 10px;
left: 10px;
}
form{
 margin-top: 60px;
 display: flex;
 flex-direction: column;
}
input , textarea{
   margin-bottom: 20px;
  padding: 8px;
  font-size: 16px;
}
input[type=submit]  {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}